body {
    background-image: url('photos/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px;
    font-size: 1.2rem;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0000b0;
    color: white;
    background-image: url();
    background-size: cover;
}

.name {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 75%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}


.main-menu {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px 0;
    text-align: right;
}

.main-menu a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

main p {
    text-align: justify;
    text-indent: 25px;
}

.avatar {
    height: 350px;
    text-align: center;
    margin: 3rem 0;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img{
    height: 100%;
}

.footer {
    background-color: #0000b0;
	color: white;
	position: absolute;
	width: 100%;
	left: 0;
    padding: 40px 0;
    margin-top: 2rem;
}

.text-center {
    text-align: center;
}

.con {
    text-align: center;
}

article{
    margin-left: 8rem;
    margin-right: 8rem;
}


td, th {
  padding: 10px; /* Поля вокруг текста */
  border: 1px solid #fff; /* Рамка вокруг ячеек */
}

.bg-1 {
  background: dodgerblue;
}

.bg-2 {
  background: deepskyblue;
}

.bg-3 {
  background: dodgerblue;
}

.bg-4 {
  background: deepskyblue;
}

a.active {
    color: lightgreen;
    font-weight: bold;
}

.change-link:hover{
  color: #ffa000; /* Меняем цвет ссылки */
}

